body {
	background-color: $bg-color;
	font-size: 1rem;

    .bg-primary, .btn-primary {
        background-color: $brand-primary !important;
    }

    .btn-primary {
        border-color: $brand-primary !important;
    }

    .btn-primary:hover,.btn-primary:focus {
        background-color: $brand-secondary !important;
        border-color: $brand-secondary !important;
    }

    .link-primary {
        color: $brand-primary;
    }

    .multi-step-item.active .multi-step-icon {
        background-color: $brand-primary;
    }

    .gatsby-highlight-code-line {
        background-color: #45402e;
    }

	@media (max-width: $grid-float-breakpoint - 1) {
		margin-top: $margin-top-body;
	}
}

// Source Sans Pro applied only on:

.clay-docs-title,
.sidebar-clay-site,
.home {
	font-family: $font-family-system;
}

// temporal hide

.style-toggler {
	display: none;
}