.container {
    max-width: 34rem;
}

h1 {
    margin-top: 12px;
}

.blog-main .link-primary:hover {
    color: inherit !important;
}

a {
    .card {
        color: #272833;
    }
}

.blog-main .card-body {
    padding-bottom: 2rem;
}

.social {
    text-align: center;
    margin-top: 96px;
    margin-bottom: 144px;
}

.social .social-banner {
    margin-bottom: 12px;
    height: 30px;
    line-height: 30px;
}

.social-banner-title {
    font-weight: bold;
}

.social .social-buttons .social-button {
    color: $brand-primary;
    transition: background-color 0.3s ease-in-out;
    display: inline-block;
    height: 48px;
    width: 48px;
    border-bottom: none;
    border-radius: 50%;
}

.social .social-buttons .social-button:hover {
    color: $brand-secondary;
}

img {
    height: auto;
    max-width: 100%;
}

