.vertical-title {
    color: #CDCED9;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 3px;
    margin-top: 250px;
    text-transform: uppercase;
    transform: rotate(-90deg);
}

.home {
    .font-weight-bold {
        font-weight: 900 !important;
    }

    .card {
        border-radius: 12px;
        box-shadow: 4px 6px 36px rgba(48, 49, 63, 0.15);
        margin-bottom: 32px;
        min-height: 100%;
        transition: all 0.4s;

        .learn-more {
            color: #D2D3DD;
            display: inline-flex;
            font-size: 15px;
            font-weight: bold;
        }

        &:hover {
            background-color: #FFF6F5;
            box-shadow: 6px 9px 36px rgba(48, 49, 63, 0.2);
            transform: translateY(-4px);

            .learn-more {
                color: $brand-dark;
            }
        }

        h2 {
            color: #393A4A;
            font-size: 21px;
            line-height: 1.6;
            margin-bottom: 16px;
        }

        .btn {
            color: #393A4A;
            font-size: 11px;
            letter-spacing: 1.5px;
        }

        p {
            color: #A1A3B6;
            font-size: 18px;
            line-height: 1.6;
            margin-bottom: 16px;

            @include media-breakpoint-up(sm) {
                margin-bottom: 32px;
            }
        }

        img.mx-auto {
            margin: 32px 0 40px;
            width: 98px;
        }
    }
}

.intro {
    background-color: $brand-primary;
    // background-image: url('/images/home/patternbg.svg');
    background-size: auto;
    color: $brand-light;
    margin-bottom: 32px;
    padding: 88px 0;

    @media (max-width: $grid-float-breakpoint - 1) {
        margin-top: - $margin-top-body;
    }

    @include media-breakpoint-up(sm) {
        background-attachment: fixed;
        background-position: center -144px;
        padding: 184px 0 264px;
    }

    .btn-lg {
        border-width: 2px;
        font-size: 1rem;
        font-weight: 700;
        min-height: 64px;
        padding: 18px 64px;
    }

    .btn-light {
        border-color: $brand-light;
        color: $brand-dark;
        font-size: 16px;
        line-height: $base-size;
    }

    .btn-outline-light {
        color: $brand-light;
        font-size: 16px;

        &:hover, &:focus {
            background-color: white;
            color: $brand-primary;
        }
    }

    .h1 {
        font-size: 36px;
        font-weight: 900;
        line-height: 1;
        margin: 52px 0 24px;
        word-break: normal;

        @include media-breakpoint-up(sm) {
            font-size: 64px;
        }

        @include media-breakpoint-up(lg) {
            font-size: 96px;
            margin-bottom: 48px;
        }
    }

    .h3 {
        color: rgba(255, 255, 255, 0.6);
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 4px;
        line-height: 1.7;
        margin-bottom: 56px;

        @include media-breakpoint-up(sm) {
            font-size: 28px;
            letter-spacing: 0.4px;
            margin-bottom: 72px;
        }
    }
}

.teasers {
    @include media-breakpoint-up(sm) {
        margin-top: -100px;
   }
}

.contact-us {
    background-attachment: fixed;
    background-color: #f1f2f5;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%230b5fff' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-position: center;
    padding: 96px 0;

    @include media-breakpoint-up(sm) {
        background-size: 140%;
        margin-top: -60px;
        padding: 244px 0 212px;
    }

    .media-body {
        p {
            line-height: 1.5;
        }

        a {
            border-bottom: 5px solid $brand-dark;
            color: #393A4A;
            font-weight: 700;
            padding-bottom: 4px;
            transition: all 0.4s;

            &:hover {
                border-color: $brand-primary;
                text-decoration: none;
            }
        }
    }
}

.link-blocks {
    background-color: #393A4A;
    color: $brand-light;
    padding: 80px 0;

    @include media-breakpoint-up(sm) {
        padding: 128px 0;
    }

    p {
        color: #8D8FA8;
        font-size: 20px;
        line-height: 1.7;
    }

    .card {
        background-color: #2B2D39;
        border-width: 0;
        box-shadow: 4px 6px 24px rgba(30, 31, 39, 0.3);

        &:hover {
            background-color: #272833;

            a {
                color: #D2D3DD;
            }
        }

        img.mx-auto {
            height: 60px;
            margin: 32px 0 40px;
        }

        a {
            color: #545462;
            font-weight: bold;
        }
    }
}

.blog-intro {
    padding: 88px 0;
}
