.sidebar-offset {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	@include media-breakpoint-up(lg) {
		margin-left: $sidebar-width;
	}

	.clay-site-container {
		flex: 1;
		max-width: $content-max-width;

		@media (min-width: $screen-xs) {
			padding-left: $base-size;
			padding-right: $base-size * 2;
		}

		@media (min-width: $screen-md) {
			padding-left: $base-size * 2;
			padding-right: $base-size * 4;
		}
	}
}

.sidenav-menu-slider .sidenav-menu {
	width: 100%;

	@include media-breakpoint-up(lg) {
		width: $sidebar-width;
	}
}

.sidenav-fixed.sidenav-menu-slider {
	visibility: visible;

	&.toggler-expanded {
		width: 100%;
	}

	&, &.toggler-expanded {
		@include media-breakpoint-down(lg) {
			transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
		}

		@include media-breakpoint-up(lg) {
			width: $sidebar-width;
		}
	}
}

.sidenav-fixed.sidenav-menu-slider .sidenav-menu {
	bottom: 0;
	height: initial;
	top: 75px;

	@include media-breakpoint-up(md) {
		top: 35px;
	}

	@include media-breakpoint-up(lg) {
		top: 0
	}
}

.sidebar-search {
	margin-bottom: $base-size * 1.8;
}